* {
	box-sizing: border-box;
}

html {
  background: url("simpleback.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	margin: 0;
	padding: 0;
	
}

header {
	
	display: none;
}

ul {
	list-style-type: none;
	
}



body {
	font-family: 'Hepta Slab', serif;
	
	width: 90%;
	display: block;
	margin: 0 auto;
	
}

.quizNerd {
	color: #fde3a7
}

.counter {
	color: white;
}

header a {
	text-decoration: none;
}


h2 {
	position: relative;
	bottom: 40px;
}

.questionAnswerForm {
	display: none;
	width: 75%;
	text-align: center;
	background-color: #fde3a7;
	height:75%;
	padding-top: 10%;
	padding-bottom: 5%;
	padding-right: 5%;
	padding-left: 5%;
	margin: 0 auto;
	border-radius: 25px;
	border: none;
	margin-top: 30%;
}



.quizStart {
	text-align: center;
	background-color: #fde3a7;
	width: 75%;
	height: 75%;
	padding-top: 5%;
	padding-bottom: 5%;
	display: block;
	margin: 0 auto;
	border-radius: 25px;
	margin-top: 30%;
}

.question{
	text-align: center;
	background-color: #fde3a7;
	width: 50%;
	padding-top: 5%;
	padding-bottom: 5%;
	display: block;
	margin: 0 auto;
}

fieldset {
	border: none;
}


/* LABEL STYLES */
label {
	color: black;
	display: flex;
	flex-direction: row;
	line-height: 20px;
	width: 80%;
	cursor: pointer;
	transition: all 0.3s ease-out;
}

label:hover, label:focus {
	text-shadow: 0 4px 8px 0 green, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: green;
}


/* BUTTON STYLES */
.startButton {
	margin-top: 10%;
}

.restartButton {
	margin-top: 10%;
}


button {
	-moz-appearance: none;
	-webkit-appearance: none;
	display: block;
	margin: 0 auto;
	padding: 20px;
    border: none;
    background-color: black;
    color: #fde3a7;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease;
    margin-top: 5px;
}

button:hover {
	box-shadow: 0 4px 8px 0 green, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* INPUT STYLES */




footer {
	color: red;
	position: relative;
	top: 100%;
	text-align: center;
	font-weight: 900;
	background-color: white;
	border: 1px solid black;
	width: 70%;
	display: block;
	margin: 0 auto;
	margin-top: 5%;

}



/* index.js style edits */
.correctFeedback span {
	font-size: 24px;
	color: green;
}



/*for screens between 400px and 1050px*/
@media screen and (min-width: 500px) {

	html {
  	background: url("background.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	}

	

	header {
		visibility: visible;
		display: block;
	}

	

	.questionAnswerForm {
	display: none;
	width: 50%;
	text-align: center;
	background-color: #fde3a7;
	height:80%;
	padding-top: 5%;
	padding-bottom: 5%;
	margin: 0 auto;
	border-radius: 25px;
	border: none;
	}

	.quizStart {
	text-align: center;
	background-color: #fde3a7;
	width: 50%;
	height: 450px;
	padding-top: 5%;
	padding-bottom: 5%;
	display: block;
	margin: 0 auto;
	border-radius: 25px;
	}

	.question{
	text-align: center;
	background-color: #fde3a7;
	width: 50%;
	padding-top: 5%;
	padding-bottom: 5%;
	display: block;
	margin: 0 auto;
}

	label {
	color: black;
	display: flex;
	flex-direction: row;
	line-height: 20px;
	width: 33.33%;
	cursor: pointer;
	transition: all 0.3s ease-out;
	}

	footer {
		display: none;
	}

}


/*for screens 1050px and larger*/
@media screen and (min-width: 1000px) {

	html {
  	background: url("background.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	}

	
	
	header {
		visibility: visible;
		display: block;
	}


	.questionAnswerForm {
	display: none;
	width: 50%;
	text-align: center;
	background-color: #fde3a7;
	height:450px;
	padding-top: 5%;
	padding-bottom: 10%;
	margin: 0 auto;
	border-radius: 25px;
	border: none;
	}

	.quizStart {
	text-align: center;
	background-color: #fde3a7;
	width: 50%;
	height: 450px;
	padding-top: 5%;
	padding-bottom: 5%;
	display: block;
	margin: 0 auto;
	border-radius: 25px;
	}

	.question{
	text-align: center;
	background-color: #fde3a7;
	width: 50%;
	padding-top: 5%;
	padding-bottom: 5%;
	display: block;
	margin: 0 auto;
}

	label {
	color: black;
	display: flex;
	flex-direction: row;
	line-height: 20px;
	width: 40%;
	cursor: pointer;
	transition: all 0.3s ease-out;
	}
	input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	border: 1px solid black;
	transition: 0.2s all linear;
	outline: none;
	margin-right: 5px;
	position: relative;
	top: 3px;
	}

	input:checked {
	border: 6px solid green;
	}

	footer {
		display: none;
	}

}